<div class="share sticky-top sticky-top-offset">
    <p style="font-weight: 500;font-size:1.2rem;">
        - Share -
    </p>
    <ul>
        <li class="ml-1 mr-1">
            <div style="cursor:pointer;" onclick='var dummy = document.createElement("input");           
            var text = location.href;
            document.body.appendChild(dummy);
            dummy.value = text;
            dummy.select();
            document.execCommand("copy");
            document.body.removeChild(dummy);
            alert("URL is copied!");
    '>copy</div>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href=""
                onclick="window.open(`https:\/\/twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | absolute_url }}`, 'twitter-share', 'width=550,height=235');return false;">
                <i class="fab fa-twitter"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href=""
                onclick="window.open(`https:\/\/facebook.com/sharer.php?u={{ page.url | absolute_url }}`, 'facebook-share', 'width=550,height=435');return false;">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href=""
                onclick="window.open(`https:\/\/www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}`, 'width=550,height=435');return false;">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>

    </ul>
    {% if page.comments != false %}
    <div class="sep">
    </div>
    <ul>
        <li>
            <a class="small smoothscroll" href="#disqus_thread" style="font-weight: 500;">comments</a>
        </li>
    </ul>
    {% endif %}
</div>